body {
    font-family: Arial, sans-serif;
    background-color: #024959;
    color: #0b0b0b;
    text-align: center;
}

.profile {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.emoji {
    font-size: 48px;
    margin-right: 10px;
}

p {
    font-size: 24px;
}
