body {
    font-family: Arial, sans-serif;
    background-color: #024959;
    color: #000000;
}

.form {
    background-color: #fff;
    max-width: 300px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #024959;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #8a2be2, #4169e1);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to right, #4169e1, #8a2be2);
}
