body {
    font-family: Arial, sans-serif;
    background-color: #e8c1ff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.questionario-concluido {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #037e8c;
}

p {
    color: #555;
}

/* Estilos adicionais conforme necessário */
